# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files and Folders
*.vbak
*.vbak
*.lyx~
*.lyx#
*.vcd
*.pyc
qproj/
*.orig
*.bin
tests/formal/int_clk_div/
tests/cocotb/results.xml
tests/cocotb/sim_build/
tests/cocotb/build/
IDEAs.md
TODO.md
hdl/out.svg
hdl/output.json
tests/cocotb/doc/_build
tests/formal/signed_adder
test/cocotb/doc/_build/
test/cocotb/sim_build/
test/formal/int_clk_div/
test/formal/signed_adder/
test/__pycache__/
test/cocotb/build/
test/cocotb/signed_adder/build
test/cocotb/signed_adder/sim_build
test/formal/unsigned_adder_bmc/
test/formal/unsigned_adder_cvr/
test/formal/unsigned_adder_prf/
TODO copy.md
